<!doctype html>
<html>
<head>
    <title>COMPONENTS</title>
    
     <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div class="hero">
                <h2>Experience more like a local</h2>
                <div class="pill"><p>Search</p></div> <!-- Search bar within the hero image-->
    </div>

    <div class="lowbar"> <!-- Divider for the lower part where the TOP DESTINATIONS go-->
        <div class="pill"> <!-- Squares for individual TOP DESTINATIONS-->
        <span class="title">PARIS</span></br>
        <p>Discover the city of light</p>
        <img src="img/paris.jpg" />
        </div>

    </div>

    <div class="lowbar">
        <div class="pill">
        <span class="title">TOKYO</span></br>
        <p>Discover Japan's major cultural centre</p>
        <img src="img/tokyo.jpg" />
        </div>

    </div>

</body>

</html>
